@import "variables";

.navbar-toggle .icon-bar
{
	border-radius: 1px;
	display: block;
	height: 2px; width: 22px;
}

#main
{
	section.jumbotron
	{
		@extend .etablissementBg;
		background: url("../images/etablissement.jpg");
		min-height: calc(100vh - 50px); 
		h1, p
		{
			@extend .textCouleurEtOmbres;
		}
	}
	/*section.panel
	{
		min-height: calc(50vh - 50px);
	}*/
	section#nouveautes
	{
		position: absolute;
		top: calc(100vh - 300px);
		left: 0;
		min-height: 250px;
		width: 100%;
	}
	#concertImg
	{
		@extend .etablissementBg;
		background: url("../images/concert.jpg");
		min-height: 100vh;	
	}
}
