@import "variables";

/* RESPONSIVE */
@media (min-width: 768px)
{
	#main.photos
	{
		#galerie
		{
			div
			{
				border: 2px solid black;
				border-radius: 10px;
				padding: 15px 5px 60px;
				background-color: white;
				a
				{
					img
					{
						&:hover
						{
							border: 1px solid white;
							transform: scale(1.2);
							border-radius: 10px;
							opacity: 1;
							z-index: 10;
						}
					}
				}
				&:nth-child(1)
				{
					transform: rotate(4deg);
					transition: .5s;
				}
				&:nth-child(2)
				{
					transform: rotate(-2deg);
					transition: .5s;
				}
				&:nth-child(3)
				{
					transform: rotate(6deg);
					transition: .5s;
				}
				&:hover
				{
					border: none;
					transform: rotate(0deg);
					background: none;
					z-index: 1000;
				}
			}
		}
	}
}
@media (max-width: 767px)
{
	h1, h2
	{
		text-align: center;
	}
	.navbar-inverse
	{
		ul.navbar-nav
		{
			li
			{
				text-align: center;
				background-color: rgba(0, 0, 0, .5);
				border-bottom: 1px solid white;
				a
				{
					color: white;
				&:hover
					{
						background-color: white;
						color: black;
					}
				}
			}
		}
	}
	body
	{
		#main.photos
		{
			display: block;
			h1
			{
				margin: .5em auto;
			}
		}
	}
}