@import "variables";

/* RESPONSIVE */
@media (max-width: 767px)
{
	.navbar-inverse
	{
		ul.navbar-nav
		{
			li
			{
				text-align: center;
				background-color: rgba(0, 0, 0, .5);
				border-bottom: 1px solid white;
				a
				{
					color: white;
				&:hover
					{
						background-color: white;
						color: black;
					}
				}
			}
		}
	}
	body
	{
		#main.photos
		{
			display: block;
			h1
			{
				margin: .5em auto;
			}
		}
	}
/* TABLEAUX RESPONSIVES | https://bootsnipp.com/snippets/featured/no-more-tables-respsonsive-table | sergiopinnaprato */
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr
	{ 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr
	{ 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr
	{ 
		border: 1px solid #ccc;
	}
 
	#no-more-tables td
	{ 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		white-space: normal;
		/*padding-left: 50%;*/
		text-align:left;
	}
 
	#no-more-tables td:before
	{ 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
/* Label the data
	#no-more-tables td:before
	{
		content: attr(data-title);
	}
*/
}