/* variables */
$perspLum: rgb(40, 40, 50);

/* extend */
.postite1
{
	background-image:linear-gradient(rgb(255, 255, 225), rgb(255, 235, 215));
}
.postite2
{
	background-image:linear-gradient(rgb(255, 225, 225), rgb(235, 225, 225));
}
.postite3
{
	background-image:linear-gradient(rgb(225, 255, 225), rgb(235, 255, 235));
}
.postite4
{
	background-image:linear-gradient(rgb(225, 225, 255), rgb(235, 225, 255));
}


.etablissementBg
{
	background-size: cover;
	background-attachment: fixed;
}
.textCouleurEtOmbres
{
	color: white;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}