/* @import "reset"; */
/* variables */
/* extend */
.postite1, .carte .hamburger ul li:first-child, .carte .hamburger ul li:nth-child(6) {
  background-image: linear-gradient(#ffffe1, #ffebd7); }

.postite2, .carte .hamburger ul li:nth-child(2), .carte .hamburger ul li:nth-child(5) {
  background-image: linear-gradient(#ffe1e1, #ebe1e1); }

.postite3, .carte .hamburger ul li:nth-child(3) {
  background-image: linear-gradient(#e1ffe1, #ebffeb); }

.postite4, .carte .hamburger ul li:nth-child(4) {
  background-image: linear-gradient(#e1e1ff, #ebe1ff); }

.etablissementBg, #main section.jumbotron, #main #concertImg {
  background-size: cover;
  background-attachment: fixed; }

.textCouleurEtOmbres, #main section.jumbotron h1, #main section.jumbotron p, #main #concertImg blockquote, body .restaurants .resto .resto1, body .restaurants .resto .resto2 {
  color: white;
  text-shadow: 1px 1px 3px #000014; }

/* ANIMATIONS */
/* variables */
/* extend */
.postite1, .carte .hamburger ul li:first-child, .carte .hamburger ul li:nth-child(6) {
  background-image: linear-gradient(#ffffe1, #ffebd7); }

.postite2, .carte .hamburger ul li:nth-child(2), .carte .hamburger ul li:nth-child(5) {
  background-image: linear-gradient(#ffe1e1, #ebe1e1); }

.postite3, .carte .hamburger ul li:nth-child(3) {
  background-image: linear-gradient(#e1ffe1, #ebffeb); }

.postite4, .carte .hamburger ul li:nth-child(4) {
  background-image: linear-gradient(#e1e1ff, #ebe1ff); }

.etablissementBg, #main section.jumbotron, #main #concertImg {
  background-size: cover;
  background-attachment: fixed; }

.textCouleurEtOmbres, #main section.jumbotron h1, #main section.jumbotron p, #main #concertImg blockquote, body .restaurants .resto .resto1, body .restaurants .resto .resto2 {
  color: white;
  text-shadow: 1px 1px 3px #000014; }

/* BALISES */
body {
  background-color: black; }

header {
  font-size: 18px; }

nav {
  min-height: 50px; }

#main {
  position: relative;
  margin-top: 50px; }

blockquote {
  font-size: 24px; }

h1 {
  color: white;
  margin: 1em 0; }

h2 {
  margin-top: 0;
  margin-bottom: 0; }

td {
  padding: .2em; }

/* variables */
/* extend */
.postite1, .carte .hamburger ul li:first-child, .carte .hamburger ul li:nth-child(6) {
  background-image: linear-gradient(#ffffe1, #ffebd7); }

.postite2, .carte .hamburger ul li:nth-child(2), .carte .hamburger ul li:nth-child(5) {
  background-image: linear-gradient(#ffe1e1, #ebe1e1); }

.postite3, .carte .hamburger ul li:nth-child(3) {
  background-image: linear-gradient(#e1ffe1, #ebffeb); }

.postite4, .carte .hamburger ul li:nth-child(4) {
  background-image: linear-gradient(#e1e1ff, #ebe1ff); }

.etablissementBg, #main section.jumbotron, #main #concertImg {
  background-size: cover;
  background-attachment: fixed; }

.textCouleurEtOmbres, #main section.jumbotron h1, #main section.jumbotron p, #main #concertImg blockquote, body .restaurants .resto .resto1, body .restaurants .resto .resto2 {
  color: white;
  text-shadow: 1px 1px 3px #000014; }

/* COMMUN */
.navbar-toggle .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px; }

.navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid white;
  border-right: 1px solid white; }

#main {
  /* ACCUEIL */ }
  #main section.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    background: url("../images/etablissement.jpg");
    min-height: 80vh;
    text-align: right; }
    #main section.jumbotron p {
      font-size: 24px; }
  #main section#nouveautes {
    min-height: 20vh;
    top: calc(100vh - 200px);
    left: 0;
    background-color: black; }
  #main section#concert {
    background-color: black; }
  #main section#nouveautes, #main section#concert {
    margin-bottom: 0;
    border: 1px solid black;
    border-radius: 0;
    width: 100%;
    box-shadow: 1px 1px 5px #0a0028; }
    #main section#nouveautes .panel-heading, #main section#concert .panel-heading {
      border: none; }
    #main section#nouveautes .panel-body p, #main section#concert .panel-body p {
      color: white;
      line-height: 2em;
      font-size: 18px; }
  #main #concertImg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/concert.jpg");
    min-height: 100vh; }

/* CARTE */
.carte section {
  border: none;
  background-color: black;
  margin-bottom: 50px; }
.carte h1 {
  margin-top: 2em; }
.carte .panel-heading {
  padding-top: 0;
  padding-bottom: 0;
  text-align: right; }
.carte p.panel-body {
  margin-top: 10px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-family: 'Indie Flower', cursive; }
.carte .hamburger {
  border-top: 2px solid #282832;
  border-right: 2px solid #282832;
  border-left: 2px solid #282832;
  border-bottom: 2px solid black;
  padding: 12px;
  background-color: #1e1e28; }
  .carte .hamburger ul {
    margin: 0;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid #282832;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    background-color: #1e1e28; }
    .carte .hamburger ul li {
      margin-top: 20px;
      display: inline-block;
      width: 250px;
      min-height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      box-shadow: 3px 3px 6px rgba(0, 0, 10, 0.9); }
      .carte .hamburger ul li:first-child {
        transform: rotate(5deg); }
      .carte .hamburger ul li:nth-child(2) {
        transform: rotate(-10deg); }
      .carte .hamburger ul li:nth-child(3) {
        transform: rotate(-2deg); }
      .carte .hamburger ul li:nth-child(4) {
        transform: rotate(3deg); }
      .carte .hamburger ul li:nth-child(5) {
        transform: rotate(-5deg); }
      .carte .hamburger ul li:nth-child(6) {
        transform: rotate(7deg); }
      .carte .hamburger ul li p {
        font-size: 18px; }
      .carte .hamburger ul li h3 {
        font-size: 30px; }
      .carte .hamburger ul li .badge {
        font-size: 24px;
        background-color: black; }

.carteTitre {
  font-weight: 600;
  font-size: 1.5em; }

.carte {
  opacity: .9; }

.striped {
  background-image: linear-gradient(to right, rgba(138, 109, 59, 0), rgba(138, 109, 59, 0.6)); }

/* PHOTOGRAPHIES */
#main.photos {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh; }
  #main.photos #galerie div a img {
    border: 2px solid black;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    opacity: .8;
    transition: all 1s; }

body nav {
  text-align: center; }

/* RESTAURANTS */
body .restaurants h1 {
  margin-top: 50px;
  background-color: black; }
body .restaurants .resto {
  border: 2px solid white;
  margin-bottom: 1em; }
  body .restaurants .resto h2, body .restaurants .resto p {
    background-color: rgba(0, 0, 0, 0.7); }
  body .restaurants .resto h2 {
    margin: 25px 0; }
  body .restaurants .resto .resto1, body .restaurants .resto .resto2 {
    font-size: 18px;
    height: 422px; }
  body .restaurants .resto .resto1 {
    background: url("../images/restaurant1.jpg") no-repeat;
    background-size: cover; }
  body .restaurants .resto .resto2 {
    background: url("../images/restaurant2.jpg") no-repeat;
    background-size: cover; }
  body .restaurants .resto .googleMap {
    padding: 0;
    height: 422px; }
    body .restaurants .resto .googleMap iframe {
      width: 100%;
      height: 100%; }

/* CONTACT */
#main.contact {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center; }
  #main.contact form label {
    margin-top: 1em;
    color: white; }
  #main.contact form textarea {
    max-width: 100%; }

/* OFFLINE */
.offline {
  margin-bottom: 2em;
  padding-bottom: 2em;
  background-color: black;
  color: white;
  text-align: center; }
  .offline div:nth-child(2) h2 {
    margin-top: 2em; }

/* variables */
/* extend */
.postite1, .carte .hamburger ul li:first-child, .carte .hamburger ul li:nth-child(6) {
  background-image: linear-gradient(#ffffe1, #ffebd7); }

.postite2, .carte .hamburger ul li:nth-child(2), .carte .hamburger ul li:nth-child(5) {
  background-image: linear-gradient(#ffe1e1, #ebe1e1); }

.postite3, .carte .hamburger ul li:nth-child(3) {
  background-image: linear-gradient(#e1ffe1, #ebffeb); }

.postite4, .carte .hamburger ul li:nth-child(4) {
  background-image: linear-gradient(#e1e1ff, #ebe1ff); }

.etablissementBg, #main section.jumbotron, #main #concertImg {
  background-size: cover;
  background-attachment: fixed; }

.textCouleurEtOmbres, #main section.jumbotron h1, #main section.jumbotron p, #main #concertImg blockquote, body .restaurants .resto .resto1, body .restaurants .resto .resto2 {
  color: white;
  text-shadow: 1px 1px 3px #000014; }

/* RESPONSIVE */
@media (min-width: 768px) {
  #main.photos #galerie div {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px 5px 60px;
    background-color: white; }
    #main.photos #galerie div:hover a img {
      border: 1px solid white;
      transform: scale(1.2);
      border-radius: 10px;
      opacity: 1;
      z-index: 10; }
    #main.photos #galerie div:nth-child(1) {
      transform: rotate(4deg);
      transition: .5s; }
    #main.photos #galerie div:nth-child(2) {
      transform: rotate(-2deg);
      transition: .5s; }
    #main.photos #galerie div:nth-child(3) {
      transform: rotate(6deg);
      transition: .5s; }
    #main.photos #galerie div:hover {
      border: none;
      transform: rotate(0deg);
      background: none;
      z-index: 1000; } }
@media (max-width: 767px) {
  h1, h2 {
    text-align: center; }

  .navbar-inverse ul.navbar-nav li {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid white; }
    .navbar-inverse ul.navbar-nav li a {
      color: white; }
      .navbar-inverse ul.navbar-nav li a:hover {
        background-color: white;
        color: black; }

  body #main.photos {
    display: block; }
    body #main.photos h1 {
      margin: .5em auto; } }

/*# sourceMappingURL=style.css.map */
