/* RGB
$color1: rgba(89, 50, 49, 1);
$color2: rgba(234, 206, 206, 1);
$color3: rgba(168, 155, 154, 1);
$color4: rgba(130, 98, 97, 1);
$color5: rgba(178, 136, 135, 1);
*/


@keyframes social {
    0% {
    	 transform: perspective(200px) rotateY(0deg);
	}
    33% {
    	transform: perspective(200px) rotateY(45deg);
    }
    66% {
    	 transform: perspective(200px) rotateY(0deg);
	}
    100% {
    	transform: perspective(200px) rotateY(-45deg);
    }
}
@keyframes backHome {
    0% {
    	 transform: perspective(200px) rotateX(0deg);
	}
    33% {
    	transform: perspective(200px) rotateX(45deg);
    }
    66% {
    	 transform: perspective(200px) rotateX(0deg);
	}
    100% {
    	transform: perspective(200px) rotateX(-45deg);
    }
}

@keyframes menu {
	0% {
		background-color: rgba(255, 0, 0, 0);
	}
	100% {
		background-color: rgba(255, 0, 0, .2);
	}
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html
{
	background-color: white;
}
body
{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 960px;
	min-height: 100vh;
	border-top: 3px solid pink;
}
header
{
	margin: 0 auto;
	padding: 0 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	background-color: pink;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0px 1px 3px rgba(10, 0, 30, .5);
}
footer
{
	text-align: center;
	width: 100%;
	padding-bottom: 1em;
}

h1
{
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
    font-family: 'Josefin Slab', serif;
}
h2
{
	font-size: 1.5em;
	margin-bottom: .3em;
	font-family: 'Josefin Slab', serif;
	background-image: linear-gradient(to right, rgba(255, 192, 203, 0),  rgba(255, 192, 203, .7) 33%,  rgba(255, 192, 203, .7) 66%, rgba(255, 192, 203, 0));
}
p
{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-weight: 400;
	line-height: 1.5em;
}
a
{
	text-decoration: none;
	white-space: nowrap;
	color: black;
	transition: all .5s;
}
nav ul
{
	display: flex;
}
nav li
{
	list-style: none;
	width: 100px;
	height: 100%;
	text-align: center;
}

/* MENU PRINCIPAL ANIMATION */
nav a
{
	position: relative;
	display: inline-block;
	padding: 1em;
}
nav a::before
{
	content:'';
	position: absolute;
	left: 0px;
	top: 100%;
	height: 1px;
	width: 0%;
	background-color: red;
	transition: all .5s;
}
nav a:hover::before
{
	width: 100%;
}
nav a::after
{
	content:'';
	position: absolute;
	right: 0%;
	top: 0%;
	height: 1px;
	width: 0%;
	background-color: red;
	transition: width .5s;
}
nav a:hover::after
{
	width: 100%;
}
nav a:hover
{
	animation: 1s linear .5s forwards menu;
}

/* MENU SOCIAL */
footer a
{
	margin: 0 1em;
}
footer span
{
	transition: all 2s;
}
a.social span:hover
{
	color: rgba(178, 136, 135, 1);
	animation-name: social;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
a#backHome
{
	margin-left: 3em;
}
a#backHome span:hover
{
	color: rgba(178, 136, 135, 1);
	animation-name: backHome;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#logo
{

    font-family: 'Lobster', cursive;
    font-weight: 400;
}
#main
{
	margin: 0 auto;
	padding: 0 1em;
	max-width: 100%;
	text-align: center;
}

#main section
{
	margin-bottom: 2em;
}

.becode
{
	padding: 0.5em;
	background-color: #16232E;
	color: white;
	border-radius: 50%;
	border:2px solid  #63C3D1;
	transition: all 1s;
}
.becode:hover
{
	border: 2px solid #16232E;
	background-color: #63C3D1;
	color: #16232E;
}

/* PAGE ENTREPRISE */


#entreprise h2
{
	background-image: none;
}
#entreprise h2 a
{
	padding: .25em;
	border-radius: 5px;
	background-color: #4B4A4A;
	color: white;
	transition: all .5s;
}
#entreprise h2 a:hover
{
	background-color: black;
	color: #ABC738;
}

/* PAGE INTERVIEW */
#interview h1
{
	text-align: right;
}
#interview h2
{
		background-image: linear-gradient(to right, rgba(255, 192, 203, .7), rgba(255, 192, 203, .7) 50%, rgba(255, 192, 203, 0));
}
#interview #main p, #interview h2
{
	margin-bottom: 1em;
	text-align: left;
}
#interview #main p
{
	font-weight: 600;
}
#interview #main .reponses
{
	padding-left: 1em;
	font-weight: 400;
}
#interview section
{
	padding-bottom: 1em;
	border-bottom: solid 2px rgba(0, 0, 0, .2);
}
#interview section:last-child
{
	border-bottom: none;
}

/* RESPONSIVE */
@media (max-width: 697px)
{
	header
	{
		justify-content: space-around;
	}
	nav a
	{
		padding: .5em;
	}
}
@media (max-width: 550px)
{
	nav li
	{
		width: auto;
	}
}
@media (max-width: 430px)
{
	header
	{
		flex-direction: column;
	}
	nav
	{
	    position: relative;
	    display: inline-block;
	    width: 100%;
	}
	nav ul
	{
		width: 100%;
		background-color: pink;
		flex-direction: column;
	}
	nav ul li a
	{
		width: 100%;
	}
	nav::before
	{
		display: inline-block;
	    content: "OUVRIR";
	    background-color: black;
	    text-align: center;
	    color: white;
	    width: 100%;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	}
	nav:hover::before, nav:focus::before
	{
	    background-color: white;
	    color: black;
	}
	nav:focus::before
	{
		content: "FERMER";
	}
	nav:focus
	{
	    pointer-events: none;
	}
	nav:focus ul
	{
	    opacity: 1;
	    visibility: visible;
	    pointer-events: auto;
	}
	nav ul
	{
	    position: absolute;
	    z-index: 1;
	    opacity: 0;
	    visibility: hidden;
	    transition: visibility 0.5s;
	}
	#interview p, #interview h1
	{
		text-align: center!important;
	}
	#interview h2, h2
	{
		text-align: center!important;
		background-image: linear-gradient(to right, rgba(255, 192, 203, .7), rgba(255, 192, 203, .7));
	}
}
@media (max-width: 366px)
{
	.becode
	{
		background-color: rgba(22, 35, 46, .1);
		border:2px solid rgba(99, 195, 209, .1);
		color: black;
	}
}
